<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="delware.apps.techsupport_scampermobile" >
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechSupport_ScamperMobile" >
        <activity
            android:name=".Dev_Settings"
            android:exported="true" />
        <activity
            android:name=".Statistics"
            android:exported="true" />
        <activity
            android:name=".Game_Settings"
            android:exported="true" />
        <activity
            android:name=".Profile_Settings"
            android:exported="true" />
        <activity
            android:name=".Screens.newUserScreen"
            android:exported="true" />
        <activity android:name=".stickerWallScreen"
            android:exported="true"/>
        <activity
            android:name=".Screens.trackingScreen"
            android:exported="true" />
        <activity
            android:name=".cardioDisplayScreen"
            android:exported="true" />
        <activity
            android:name=".Screens.settings"
            android:exported="true" />
        <activity android:name=".discRackScreen"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>